<div class="title-div">
  <h2 class="text-title">Welcome, <%=@user.username%>!!</h2><br>
</div>

<div id="profile-info-div" class="profile-content">
  <h5><p class="profile-info">Name: <%=@user.first_name%> <%=@user.last_name%></p></h5>
  <h5><p class="profile-info">Location: <%=@user.location%></p></h5>
  <h5><p class="profile-info">Motorcycle: <%=@user.motorcycle%></p></h5>
</div>

<div class="container">
  <hr>
  <ul>
  <h5 class="profile-content">Here are your upcoming hosted events:</h5>
    <ul>
      <% @user.events.upcoming.order(starts_at: :asc).each do |event| %>
      <li><a href="/events/<%=event.id%>"><%= event.starts_at %> - <%= event.title %></a></li>
      <% end %>
    </ul>
  </ul>
  <hr>
</div>

<div class="container">
  <hr>
  <ul>
  <h5 class="profile-content">Here are your previously hosted events:</h5>
  <ul>
    <% @user.events.previous.order(starts_at: :asc).each do |event| %>
    <li><a href="/events/<%=event.id%>"><%= event.starts_at %> - <%= event.title %></a></li>
    <% end %>
  </ul>
  </ul>
  <hr>
</div>

<div class="container">
  <hr>
  <h5 class="profile-content">Here are your upcoming events you are attending:</h5>

  <hr>
</div>

<div class="container">
  <hr>
  <h5 class="profile-content">Here are your previous events you have attended:</h5>

  <hr>
</div>
