<div class="">
  <h2 id="profile-title-div" class="text-title">Welcome, <%=@user.username%>!!</h2><br>
</div>

<div id="profile-info-div" class="text-title">
  <h5><p class="profile-info">Name: <%=@user.first_name%> <%=@user.last_name%></p></h5>
  <h5><p class="profile-info">Location: <%=@user.location%></p></h5>
  <h5><p class="profile-info">Motorcycle: <%=@user.motorcycle%></p></h5>
</div>

<div class="container">
  <hr>
  <ul>
  <h5 class="text-title">Here are your upcoming hosted events:</h5>

  </ul>
  <hr>
</div>

<div class="container">
  <hr>
  <ul>
  <h5 class="text-title">Here are your previously hosted events:</h5>

  </ul>
  <hr>
</div>

<div class="container">
  <hr>
  <h5 class="text-title">Here are your upcoming events you are attending:</h5>

  <hr>
</div>

<div class="container">
  <hr>
  <h5 class="text-title">Here are your previous events you have attended:</h5>

  <hr>
</div>
