<div class="">
  <%= erb :'_errors' %>
</div>

<div class="title-div">
  <p><h2 class="text-title">Event Details</h2><p>
</div>

<div id="event-info-div" class="event-content">
  <p><h5 class="event-info ">Name: <%=@event.title%></h5><p>
  <p><h5 class="event-info ">Location: <%=@event.address%></h5><p>
  <p><h5 class="event-info ">Starts At: <%=@event.starts_at%></h5><p>
  <p><h5 class="event-info ">Host: <%=@post_owner.username%></h5>
</div>
<div class="row">
  <div class="container">
    <% if authorized?(@post_owner) %>
      <form class="" action="/events/<%=@event.id%>/edit" method="get">
      <input class="waves-effect waves-teal btn-flat col white-text" type="submit" name="" value="Edit">
      </form>

      <form class="" action="/events/<%=@event.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="waves-effect waves-teal btn-flat col  white-text" type="submit" name="" value="Delete">
      </form>
    <% end %>
  </div><br><br>
</div>
<% if logged_in? %>
<div class="container">
  <form class="" action="/commitments/<%=current_user.id%>/events/<%=@event.id%>" method="post">
    <input class="waves-effect waves-teal btn-flat col  white-text" type="submit" name="" value="Click here to RSVP!">
  </form>
</div>
<%end%><br>

<div id="map"></div>

<script>

function initMap() {
  var myCenter = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
  var map = new google.maps.Map(document.getElementById('map'), {
    center: myCenter,
          zoom: 16,
    styles: [
      {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
      {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
      {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
      {
        featureType: 'administrative.locality',
        elementType: 'labels.text.fill',
        stylers: [{color: '#d59563'}]
      },
      {
        featureType: 'poi',
        elementType: 'labels.text.fill',
        stylers: [{color: '#d59563'}]
      },
      {
        featureType: 'poi.park',
        elementType: 'geometry',
        stylers: [{color: '#263c3f'}]
      },
      {
        featureType: 'poi.park',
        elementType: 'labels.text.fill',
        stylers: [{color: '#6b9a76'}]
      },
      {
        featureType: 'road',
        elementType: 'geometry',
        stylers: [{color: '#38414e'}]
      },
      {
        featureType: 'road',
        elementType: 'geometry.stroke',
        stylers: [{color: '#212a37'}]
      },
      {
        featureType: 'road',
        elementType: 'labels.text.fill',
        stylers: [{color: '#9ca5b3'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'geometry',
        stylers: [{color: '#746855'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'geometry.stroke',
        stylers: [{color: '#1f2835'}]
      },
      {
        featureType: 'road.highway',
        elementType: 'labels.text.fill',
        stylers: [{color: '#f3d19c'}]
      },
      {
        featureType: 'transit',
        elementType: 'geometry',
        stylers: [{color: '#2f3948'}]
      },
      {
        featureType: 'transit.station',
        elementType: 'labels.text.fill',
        stylers: [{color: '#d59563'}]
      },
      {
        featureType: 'water',
        elementType: 'geometry',
        stylers: [{color: '#17263c'}]
      },
      {
        featureType: 'water',
        elementType: 'labels.text.fill',
        stylers: [{color: '#515c6d'}]
      },
      {
        featureType: 'water',
        elementType: 'labels.text.stroke',
        stylers: [{color: '#17263c'}]
      }
    ]
  });

  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
  map.mapTypeControl = false;
}
</script>

<div class="title-div">
  <p><h2 class="text-title">Riders Attending</h2><p>
</div>
